In [3]:
!pip install findspark

Requirement already satisfied: findspark in c:\users\katel\anaconda3\lib\site-packages (2.0.1)

In [4]:
import findspark
findspark.init()
import pyspark
sc = pyspark.SparkContext(appName="myAppName")
sc

In [5]:
import pandas as pd
pd.read_csv('world-happiness-report-2021.csv')

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
spark

In [9]:
df_pyspark=spark.read.csv('world-happiness-report-2021.csv')

In [10]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string]

In [11]:
df_pyspark=spark.read.option('header', 'true').csv('world-happiness-report-2021.csv')

In [12]:
#Sort highest to lowest ladder score and show first in the list
sorted_df = df_pyspark.orderBy(df_pyspark["Ladder score"].desc())
happiest_country = sorted_df.first()["Country name"]
print("The country with the highest happiness ranking is:", happiest_country)

The country with the highest happiness ranking is: Finland

In [13]:
from pyspark.sql.functions import col, when

In [15]:
# Assign each region to its continent and create a new continent column

per_region = df_pyspark.withColumn("Continent",(when(col("Regional indicator").isin(["Western Europe", "Central and Eastern Europe"]), "Europe") \
.when(col("Regional indicator").isin(["North America and ANZ", "Latin America and Caribbean"]), "Americas and Oceania") \
.when(col("Regional indicator").isin(["Middle East and North Africa", "Sub-Saharan Africa"]), "Africa") \
.when(col("Regional indicator").isin(["East Asia", "Southeast Asia", "South Asia"]), "Asia")
.when(col("Regional indicator").isin(["Commonwealth of Independent States"]), "Other")))
per_region.show()

+--------------+--------------------+------------+------------------------------+------------+------------+---------------------+--------------+-----------------------+----------------------------+----------+-------------------------+------------------------+--------------------------------+----------------------------+-------------------------------------+------------------------------------------+------------------------+---------------------------------------+-------------------+--------------------+
|  Country name|  Regional indicator|Ladder score|Standard error of ladder score|upperwhisker|lowerwhisker|Logged GDP per capita|Social support|Healthy life expectancy|Freedom to make life choices|Generosity|Perceptions of corruption|Ladder score in Dystopia|Explained by: Log GDP per capita|Explained by: Social support|Explained by: Healthy life expectancy|Explained by: Freedom to make life choices|Explained by: Generosity|Explained by: Perceptions of corruption|Dystopia + residual|           Continent|
+--------------+--------------------+------------+------------------------------+------------+------------+---------------------+--------------+-----------------------+----------------------------+----------+-------------------------+------------------------+--------------------------------+----------------------------+-------------------------------------+------------------------------------------+------------------------+---------------------------------------+-------------------+--------------------+
|       Finland|      Western Europe|       7.842|                         0.032|       7.904|       7.780|               10.775|         0.954|                 72.000|                       0.949|    -0.098|                    0.186|                   2.430|                           1.446|                       1.106|                                0.741|                                     0.691|                   0.124|                                  0.481|              3.253|              Europe|
|       Denmark|      Western Europe|       7.620|                         0.035|       7.687|       7.552|               10.933|         0.954|                 72.700|                       0.946|     0.030|                    0.179|                   2.430|                           1.502|                       1.108|                                0.763|                                     0.686|                   0.208|                                  0.485|              2.868|              Europe|
|   Switzerland|      Western Europe|       7.571|                         0.036|       7.643|       7.500|               11.117|         0.942|                 74.400|                       0.919|     0.025|                    0.292|                   2.430|                           1.566|                       1.079|                                0.816|                                     0.653|                   0.204|                                  0.413|              2.839|              Europe|
|       Iceland|      Western Europe|       7.554|                         0.059|       7.670|       7.438|               10.878|         0.983|                 73.000|                       0.955|     0.160|                    0.673|                   2.430|                           1.482|                       1.172|                                0.772|                                     0.698|                   0.293|                                  0.170|              2.967|              Europe|
|   Netherlands|      Western Europe|       7.464|                         0.027|       7.518|       7.410|               10.932|         0.942|                 72.400|                       0.913|     0.175|                    0.338|                   2.430|                           1.501|                       1.079|                                0.753|                                     0.647|                   0.302|                                  0.384|              2.798|              Europe|
|        Norway|      Western Europe|       7.392|                         0.035|       7.462|       7.323|               11.053|         0.954|                 73.300|                       0.960|     0.093|                    0.270|                   2.430|                           1.543|                       1.108|                                0.782|                                     0.703|                   0.249|                                  0.427|              2.580|              Europe|
|        Sweden|      Western Europe|       7.363|                         0.036|       7.433|       7.293|               10.867|         0.934|                 72.700|                       0.945|     0.086|                    0.237|                   2.430|                           1.478|                       1.062|                                0.763|                                     0.685|                   0.244|                                  0.448|              2.683|              Europe|
|    Luxembourg|      Western Europe|       7.324|                         0.037|       7.396|       7.252|               11.647|         0.908|                 72.600|                       0.907|    -0.034|                    0.386|                   2.430|                           1.751|                       1.003|                                0.760|                                     0.639|                   0.166|                                  0.353|              2.653|              Europe|
|   New Zealand|North America and...|       7.277|                         0.040|       7.355|       7.198|               10.643|         0.948|                 73.400|                       0.929|     0.134|                    0.242|                   2.430|                           1.400|                       1.094|                                0.785|                                     0.665|                   0.276|                                  0.445|              2.612|Americas and Oceania|
|       Austria|      Western Europe|       7.268|                         0.036|       7.337|       7.198|               10.906|         0.934|                 73.300|                       0.908|     0.042|                    0.481|                   2.430|                           1.492|                       1.062|                                0.782|                                     0.640|                   0.215|                                  0.292|              2.784|              Europe|
|     Australia|North America and...|       7.183|                         0.041|       7.265|       7.102|               10.796|         0.940|                 73.900|                       0.914|     0.159|                    0.442|                   2.430|                           1.453|                       1.076|                                0.801|                                     0.647|                   0.291|                                  0.317|              2.598|Americas and Oceania|
|        Israel|Middle East and N...|       7.157|                         0.034|       7.224|       7.090|               10.575|         0.939|                 73.503|                       0.800|     0.031|                    0.753|                   2.430|                           1.376|                       1.074|                                0.788|                                     0.509|                   0.208|                                  0.119|              3.083|              Africa|
|       Germany|      Western Europe|       7.155|                         0.040|       7.232|       7.077|               10.873|         0.903|                 72.500|                       0.875|     0.011|                    0.460|                   2.430|                           1.480|                       0.993|                                0.757|                                     0.600|                   0.195|                                  0.306|              2.824|              Europe|
|        Canada|North America and...|       7.103|                         0.042|       7.185|       7.021|               10.776|         0.926|                 73.800|                       0.915|     0.089|                    0.415|                   2.430|                           1.447|                       1.044|                                0.798|                                     0.648|                   0.246|                                  0.335|              2.585|Americas and Oceania|
|       Ireland|      Western Europe|       7.085|                         0.040|       7.164|       7.006|               11.342|         0.947|                 72.400|                       0.879|     0.077|                    0.363|                   2.430|                           1.644|                       1.092|                                0.753|                                     0.606|                   0.238|                                  0.367|              2.384|              Europe|
|    Costa Rica|Latin America and...|       7.069|                         0.056|       7.179|       6.960|                9.880|         0.891|                 71.400|                       0.934|    -0.126|                    0.809|                   2.430|                           1.134|                       0.966|                                0.722|                                     0.673|                   0.105|                                  0.083|              3.387|Americas and Oceania|
|United Kingdom|      Western Europe|       7.064|                         0.038|       7.138|       6.990|               10.707|         0.934|                 72.500|                       0.859|     0.233|                    0.459|                   2.430|                           1.423|                       1.062|                                0.757|                                     0.580|                   0.340|                                  0.306|              2.596|              Europe|
|Czech Republic|Central and Easte...|       6.965|                         0.049|       7.062|       6.868|               10.556|         0.947|                 70.807|                       0.858|    -0.208|                    0.868|                   2.430|                           1.370|                       1.090|                                0.703|                                     0.580|                   0.052|                                  0.046|              3.124|              Europe|
| United States|North America and...|       6.951|                         0.049|       7.047|       6.856|               11.023|         0.920|                 68.200|                       0.837|     0.098|                    0.698|                   2.430|                           1.533|                       1.030|                                0.621|                                     0.554|                   0.252|                                  0.154|              2.807|Americas and Oceania|
|       Belgium|      Western Europe|       6.834|                         0.034|       6.901|       6.767|               10.823|         0.906|                 72.199|                       0.783|    -0.153|                    0.646|                   2.430|                           1.463|                       0.998|                                0.747|                                     0.489|                   0.088|                                  0.187|              2.862|              Europe|
+--------------+--------------------+------------+------------------------------+------------+------------+---------------------+--------------+-----------------------+----------------------------+----------+-------------------------+------------------------+--------------------------------+----------------------------+-------------------------------------+------------------------------------------+------------------------+---------------------------------------+-------------------+--------------------+
only showing top 20 rows

In [16]:
# join the max ladder score per continent with the new field
df_pyspark = per_region.select("Country name", "Ladder score", "Continent")
max_scores = per_region.groupBy("Continent").agg({"Ladder score": "max"})\
    .withColumnRenamed("max(Ladder score)", "Ladder score")
per_region = df_pyspark.join(max_scores, on=["Continent", "Ladder score"], how="inner")
per_region.show()

+--------------------+------------+--------------------+
|           Continent|Ladder score|        Country name|
+--------------------+------------+--------------------+
|              Europe|       7.842|             Finland|
|Americas and Oceania|       7.277|         New Zealand|
|              Africa|       7.157|              Israel|
|                Asia|       6.584|Taiwan Province o...|
|               Other|       6.179|          Uzbekistan|
+--------------------+------------+--------------------+

In [17]:
df_pyspark2=spark.read.csv('world-happiness-report.csv')

In [18]:
df_pyspark2

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string]

In [19]:
from pyspark.sql.functions import rank, dense_rank

In [20]:
from pyspark.sql.window import Window

In [21]:
import pandas as pd
pd.read_csv('world-happiness-report.csv')

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [22]:
df_pyspark2=spark.read.option('header', 'true').csv('world-happiness-report.csv')

In [23]:
# Rank by Ladder score and year
ranked_df = df_pyspark2.withColumn("rank", rank().over(Window.partitionBy("year").orderBy(df_pyspark2["Life ladder"].desc())))

# Group country and count # of times each country appears in first place
count_df = ranked_df.filter(ranked_df["rank"] == 1).groupBy("Country name").count()

# Sort in descending order to find the country with the highest number of first-places
result = count_df.orderBy(count_df["count"].desc()).first()

# Print
print("The country with the highest number of first-place finishes is:", result["Country name"])

The country with the highest number of first-place finishes is: Denmark